* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background: black;
    color: white;
    transition: 0.5s;
}

.menu {
    display: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    z-index: 1000;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.text {
    z-index: 200;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
    mix-blend-mode: overlay;    
}

.text h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.text h3 {
    letter-spacing: 4px;
    color: rgb(255,255,255,0.8);
    
}
.text p {
    margin: 10px;
    color: rgb(255,255,255,0.7);
    letter-spacing: 5px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: rgb(255,255,255,0.7);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    letter-spacing: 4px;
    /* text-transform: uppercase; */
    margin-top: 10px;
}

.text a:hover
{
  letter-spacing: 6px;
  box-shadow: 0px 0px 5px white;
  margin-bottom: 20px;

}